extends layout

block content
  h1= title
  h2 Easy Nodejs client for Teleram Portocol
  br
  p Use following link for setting up telegram portocol
  a(href="https://t.me/proxy?server="+server+"&port="+port+"&secret="+secret+"&@"+channel) Mt-Proxy

